div {
    border: solid 5px black;
    width: 400px;
    height: 200px;
    background-color: bisque;
}

body {
    border: solid 10px blueviolet;
    height: 1850px;
}

.div-1 {
    background-color: aquamarine;
    position: absolute;
    right: 30px;
    bottom: 0px;
}

.div-2 {
    background-color: brown;
    width: 450px; 

    position: fixed;
    right: 100px;
    top: 150px;
}

[class*="page-1-div-"] {
    position: absolute;
}

.div-3 {
    background-color: yellowgreen;
    width: 500px;
    position: sticky;
    top: 50px;
}

.page-1-div-1 {
    background-color: aquamarine;
    z-index: 2;
}

.page-1-div-2 {
    background-color: blue;
    top: 50px;
    left: 100px;
    z-index: 999999;
}

.page-1-div-3 {
    background-color: darkgoldenrod;
    top: 100px;
    left: 200px;
    z-index: 80;
}

.page-2-div-1 {
    position: relative;
    bottom: -30px;
    right: -200px;
}

.page-2-div-3 {
    width: 700px;
    height: 350px;
    margin: auto;
    position: relative;
}

.ball {
    width: 100px;
    height: 100px;
    background-color: brown;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

[class*="page-3-div"] {
    float: left;
}

.bottom {
    width: 700px;
    margin: auto;
    height: 300px;
    background-color: aqua;
    overflow: hidden;
}

.page-3-div-1 {
    overflow: hidden;
}

.page-3-div-2 {
    overflow: scroll ;
}